<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <h1>Grocery Shopping List</h1>

      <form action="/groceries/create" method="post">
        <div class="form-group">
          <input type="text" class="form-control" name="item" aria-describedby="itemHelp" placeholder="Enter New Item">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>

      <br>
      <br>

      <ul class="list-group">
        <% groceries.forEach((grocery) => { %>
          <li class="list-group-item">
            <a href="/groceries/<%= grocery.id %>"> <%= grocery.item %> </a>
            <a href="/groceries/<%= grocery.id %>/edit" class="btn btn-outline-warning btn-sm">Edit</a>
            <form style="display:initial" action="/groceries/<%= grocery.id %>/destroy" method="post">
              <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
            </form>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>
</html>
