<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <% include ../static/partials/messages.ejs %>

      <h1>Grocery Shopping List</h1>

      <form action="/groceries/create" method="post">
        <div class="form-group">
          <input type="text" class="form-control" name="item" aria-describedby="itemHelp" placeholder="Enter Item">
        </div>
        <button type="submit" class="btn btn-success">Submit New Item</button>
      </form>

      <br>

      <ul class="list-group">
        <% groceries.forEach((grocery) => { %>
          <li class="list-group-item">
            <a href="/groceries/<%= grocery.id %>"> <%= grocery.item %> </a>
            <% if(grocery.purchased) { %>
              <span class="flaticon-checkmark"></span>
            <% } %>
          </li>
        <% }) %>
      </ul>

    </main>
    <% include ../static/partials/baseScripts.ejs %>
    <script>
      function printChecked(cb){
        return cb.checked;
      }
    </script>
  </body>
</html>
