<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
     <% include ./partials/navbar.ejs %>

      <main class="container">


        <header class="jumbotron my-4">
          <h1 class="display-3">Bought That!</h1>
          <p class="lead">A shared real-time Grocery Shopping List.</p>
          <a href="/users/sign_up" class="btn btn-info btn-lg">Sign up Today!</a>
        </header>


        <section class="row text-center">

          <section class="col-lg-4">
            <h4 class="card-title">Share</h4>
            <p class="card-text">Share the real-time Grocery Shopping List among your family members.</p>
          </section>

          <section class="col-lg-4">
            <h4 class="card-title">Status</h4>
            <p class="card-text">Purchased Items will be marked as "purchased" which will prevent other members from purchasing duplicate items.</p>
          </section>

          <section class="col-lg-4">
            <h4 class="card-title">Free</h4>
            <p class="card-text">This app is free to use. Give it a try!</p>
          </section>

        </section>


      </main>


       <% include ./partials/baseScripts.ejs %>
    </body>
</html>
